.footer_container {
  width: 100%;
  :global {
    .footer-div {
      width: 100%;
      text-align: center;
      padding: 1rem;
      color: #888;

      ul {
        list-style: none;
      }

      .tool-list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        transition: all 0.5s;
        height: 80px;

        li {
          display: flex;
          padding: 20px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.3s;
            height: 80px;

            img {
              width: 30px;
              height: 30px;
              display: inline-block;
              object-fit: cover;
            }

            .tool-desc {
              position: relative;
              overflow: hidden;
              .hide-desc {
                opacity: 0;
                width: 0;
                height: 120px;
                transition: all 0.3s;
              }
              .inner {
                position: absolute;
                left: 0;
                top: 0;
                width: 200px;
                color: #fff;
                padding: 24px 20px;
                transition: all 0.5s;
                text-align: start;
                .title {
                  font-weight: bold;
                  font-size: 14px;
                  margin: 4px 0 2px;
                }
                .description {
                  font-size: 12px;
                  margin: 0;
                }
              }
            }
          }
          &:hover {
            background-color: bisque;
            a {
              .tool-desc {
                .hide-desc {
                  width: 200px;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
